.LoginPage {
    text-align: center;
    padding: 1rem;
}

.TextInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 1.5rem;
}

.TextInputs input {
    width: 80%;
    font-size: 16px;
    padding: .5rem 1rem;
    box-sizing: border-box;
    font-family: inherit;
}

.btn {
    margin: 0 auto;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0275d8;
    color: #fff;
    padding: .5rem 1rem;
    transition: all .2s;
}

.btn span:first-child {
    margin-right: .5rem;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(2, 117, 216,.8);
}

.btn:active {
    background-color: hsl(208, 98%, 33%);
    box-shadow: 0 2px 2px rgba(0,0,0,.8);
}

.btn {
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,.5);
    border: none;
    font-size: 16px;
}

.SwapModeLink {
    display: block;
    margin-top: 1rem;
    color: cadetblue;
    text-decoration: none;
}

.SwapModeLink:hover {
    cursor: pointer;
    color: black;
}

.ErrorText {
    color: red;
    margin: 0;
}