.MainPage {
    text-align: center;
    padding: 1rem;
}

.NoTaskMessage {
    margin: 4rem 0;
}

.Logout {
    display: inline-block;
    margin-top: 1rem;
    color: blue;
}

.Logout:hover {
    cursor: pointer;
    text-decoration: underline;
}